/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Light track color */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563; /* Dark gray thumb color */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Slightly lighter gray when hovered */
  }
  
  .custom-scrollbar::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.1); /* Same as the track */
  }
  